<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
                <link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/api1">API 1</a></li>
        		<li><a href="/api2">API 2</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
		</footer>
	</body>
</html>
